[2017-01-20 07:17] rorygraves opened #1 "Update mapConserve PR as per commit comments"
https://github.com/scala/scala/pull/5650

- [ ]  Add equivilent version to map2Conserve
- [x] Add benchmark code from retrynym
- [x] Remove retrynym from commit title

[2017-02-19 21:10] #1 closed

[2017-08-03 22:47] mkeskells opened #4 "add cpu and memory profiling"
add some benchmarks to scala collection benchmarks

I think that can be based on JMH, but we will probably need to provide a extension via https://github.com/jacek-lewandowski/jmh-jl/blob/master/jmh-core/src/main/java/org/openjdk/jmh/profile/InternalProfiler.java to detect allocated memory.
Maybe a custom profiler with all of the counters that we are interested in

Probably we will need a tool tha

[2017-08-03 22:49] mkeskells opened #5 "Idiomatic bytecode"
scala seems to be generating non idiomatic bytecode.
Benchmark and investigate what improvements can be made.

[2017-08-03 22:55] mkeskells opened #6 "elide inlining count via java annotation"
java supports an annotation to mark a stack frame as non counting towards stack depth
java.lang.invoke.ForceInline ( Mike to confirm)

Investigate where this can be used to improve performance, starting with collections

This will need benchmarking support

[2017-08-03 23:20] mkeskells opened #7 "macro classloader"
macros run in a separate classloader to the compiler, for obvious reasons

there seems to be unexploited opportunities to share classes between the classloaders

[2017-08-03 23:22] mkeskells opened #8 "promote structural sharing in HashMap builders"
started in mike/2.13.x_TrieMapBuilder

[2017-08-03 23:34] mkeskells opened #9 "Regex inefficiencies"
regex code looks able to be improved

just be code inspection, looks to allocating temp data

benchmark & improve

[2017-08-03 23:38] mkeskells opened #10 "classpath scanning and caching is slow"
improve

some work started on this in 2.12.x_classpath_2

[2017-08-03 23:38] mkeskells opened #11 "Linker"

[2017-08-03 23:42] mkeskells opened #12 "improve scalac benchmarks"
number are not very stable.

Investigate why. maybe SBT is runing clean in background ( I think so)
CPU throttling
better maths analysis

[2017-08-03 23:42] mkeskells opened #13 "parallelise the back end writing class files"
After Lucas refactor

[2017-08-03 23:44] mkeskells opened #14 "freshname optimisation"
https://github.com/scala/scala/pull/6020

[2017-08-03 23:47] mkeskells opened #15 "non deterministic compilation"
classed, methods an other symbols anget defferent ids

some from freshname, some seems random

investigate and iteratively fix

[2017-08-03 23:48] mkeskells opened #16 "parallel IO and parse for source"
currently the source files are read one by one and then split into lines and then parsed We should be able to do some or all of that in parallel and use nio to help

[2017-08-03 23:50] mkeskells opened #17 "stats collection in scalac"
stats collection in scalac

does some work even if disabled

[2017-08-03 23:56] mkeskells opened #18 "add macro cost to scalac benchmarking"
and looks for other oppertunities

[2017-08-04 00:12] mkeskells opened #19 "object call layout"
if top level and other singleton objects had static fields and instance methods suplied access to them, then the java inliner has a better chnace of doing a better job

investigate and benchmark - make the code gen generate idiomatically wht a java dev would write

[2017-08-04 00:12] mkeskells opened #20 "bytecode for +="

[2017-08-04 00:13] mkeskells opened #21 "bytecode for varargs"

[2017-08-04 00:13] mkeskells opened #22 "stringwrapper when not needed"

[2017-08-04 00:16] mkeskells opened #23 "Arrayops repr"
seems inefficient

[2017-08-04 08:52] cryptom-dev commented on #9
Could you please assign this to me?

[2017-08-05 02:41] cryptom-dev commented on #9
Hi @rorygraves I have no idea on how to optimize this piece of code:

`Some((1 to m.groupCount).toList map m.group)`

Could you please give me some suggestions?

[2017-08-15 21:32] mkeskells commented on #14
merged into 2.12.4

[2017-08-15 21:34] #14 closed

[2017-08-15 21:42] mkeskells opened #24 "StringInterpolation is slow and inefficient"
String Interpolation is slow at run time and inefficient code generation, with lots of temporary garbage generated

convert s and raw to macros (like f is already)

generate optimal code

This is mostly a macro writing issue + one line to register the fast path for the macro in FastPath

For the macro structure see FormatInterpolater
Probably should improve that code at  the same time or in a sepa

[2017-08-16 00:24] mkeskells commented on #24
first stab https://github.com/rorygraves/scalac_perf/tree/mike/2.12_x_StringInterpolation
then https://github.com/scala/scala/pull/6093 for intrinsic version to be followed by macro version

[2017-08-17 22:15] mkeskells commented on #24
PR https://github.com/scala/scala/pull/6041

[2017-08-24 14:44] cryptom-dev commented on #9
https://github.com/scala/scala/pull/6048

[2017-08-24 14:47] cryptom-dev commented on #9
some ideas from @mkeskells

[code]

Could be changed to:
[code]
or
[code]
or
[code]

[2017-08-25 00:12] ackratos commented on #9
[code]

[2017-08-29 21:32] mkeskells commented on #9
@ackratos can you share the benchmark & branch

[2017-08-29 21:36] ackratos commented on #9
@mks

[2017-08-29 21:39] cryptom-dev commented on #9
@mkeskells i pasted the branch above https://github.com/scala/scala/pull/6048 haven't pushed micro benchmark.

[2017-09-03 16:14] ft655508 commented on #21
finding:
1. the code we need to change about the WrappedArray creation is in UnCurry.scala, transformVarargs.
2. for the empty case, current implementation won't generate empty array everytime, it uses Nil as the sequence (no extra array and WrappedArray created).

question:
1. equality ofRef0, ofRef1, ofRef2... need to compare with ofRef
2. we only save some cost to create array, we still need to

[2017-09-07 15:31] cryptom-dev commented on #19
I'd like to investigate this one. If it beyond my capability, I will handle over to someone else ;)

[2017-09-08 08:59] mkeskells opened #25 "mutable set entries should maintain hash"
HashTables ( e.g. mutable.HashSet) use an Entry that maintains the key and value, but not the hash

this means that the collisions are expensive, and resize is expensive

Investigate the performance that having a hash would provide, using jmh

[2017-09-10 19:19] mkeskells commented on #25
![image](https://user-images.githubusercontent.com/22275557/30252177-4f548b1e-9665-11e7-919c-8767d02dc252.png)

[2017-09-12 16:46] jvican commented on #7
I measured this, and the time to classload is less than 1ms IIRC.

[2017-09-13 22:10] mkeskells opened #26 "remove unneeded builders for empty results"
a common pattern in the collection code is to create a builder, iterate a collection adding to the builder, and then call result

for the special case of a empty collection this can be optimised to call empty without the generation of the builder

e.g. in GenTraversableFactory

[code]
could be
[code]

(and the same for concat, iterate and fill in GenTraversableFactory) and some others in other pla

[2017-09-16 01:57] cryptom-dev commented on #23
@mkeskells  Array is a mutable stuff, repr has to be a def right? As within this :+ function, repr.length is different between before and after call Array.copy.

[2017-09-17 17:48] mkeskells commented on #23
@ackratos length is constant and repr is constant although the content is mutable.

Trivially in this method we could remember the length but we could discuss making length a Val to avoid all of this extra code in this and other similar methods. Need to check the expense though I have not benchmarked it

This method is a poor use of java API imo and could use Array.copyOf probably indirectly ti av

[2017-09-23 09:30] cryptom-dev commented on #9
resolved at https://github.com/scala/scala/pull/6048

[2017-09-23 09:30] #9 closed

[2017-09-23 09:36] rorygraves commented on #9
Great stuff

[2017-10-11 20:58] mkeskells opened #27 "LRU in ByteCodeRepository is inefficient"
rework with a java LinkedHashMap

https://github.com/scala/scala/pull/6125

[2017-10-11 20:59] mkeskells commented on #22
fixed by other in scala repo

[2017-10-11 20:59] #22 closed

[2017-10-11 21:07] mkeskells commented on #13
https://github.com/scala/scala/pull/6124
https://github.com/scala/scala/pull/6162
https://github.com/scala/scala/pull/6201
https://github.com/scala/scala/pull/6202
https://github.com/scala/scala/pull/6203
https://github.com/scala/scala/pull/6223
https://github.com/scala/scala/pull/6259
https://github.com/scala/scala/pull/6189
https://github.com/scala/scala/pull/6182
https://github.com/scala/scala/

[2017-10-23 22:12] mkeskells opened #28 "GenBCode.mkFlags"
its a slow way to OR some Ints

[2017-10-23 22:14] mkeskells commented on #28
https://github.com/scala/scala/pull/6145

[2017-11-05 14:21] #28 closed

[2017-11-05 14:22] #27 closed

[2017-11-10 10:44] mkeskells commented on #7
@jvican - the cost is not the cost of loading the classes. A duplicate class loader duplicates the C1 and C2 compile and generated duplicate code that runs on the CPU, so the impact is very deep, all the way through to the running code
and the wasted purging of the CPU cache, additioanl GC time etc

To make his worse, a multi-module compile will duplicate his for each loaded module. In Zinc 1.0 we

[2017-11-10 16:03] jvican commented on #7
I see what you mean. Do you have any profiles or previous use cases that prove that's a sound theoretical bottleneck? Intuitively it sounds right, but I've lost faith in my intuition to reason about performance.

I propose to use CDS https://docs.oracle.com/javase/8/docs/technotes/guides/vm/class-data-sharing.html to solve this issue, which is also going to be open-sourced soon as advertised by Or

[2017-11-10 16:12] jvican commented on #17
SCP-010 fixes this, so I guess this can be closed.

[2017-11-11 10:58] jvican commented on #7
I've had a closer look at this. It seems that the macro classloader is already sharing classes info from the compiler classloader, since it uses the compiler classloader as the parent:

[code]

[2017-11-12 21:25] mkeskells commented on #7
when I first raised this issue it was related to the classloader running for plugins. I think that he issue will only affect that environment, where you have classes loaded by the plugins and classes loaded by the macros. There are also some special macros tha run in the compiler with a comment around classloading.

In the plugin case the plugin class loader is (I think) a sibling of the macro cla

[2017-11-12 21:57] mkeskells commented on #17
SCP-010 doesn't address this.
Ideally stats collection should be a noop when disabled

The collection of stats and the use of asserts for development, along with developer time options is an otherhead

My idea - of which this is a part would be that the runtime didn't contain this code as was optimised as if this code path didn't happen,
This could be via conditional code (e.g. a macro, or elide s

[2017-11-12 23:23] mkeskells opened #29 "StringLike assumes toString is a noop"

[2017-11-12 23:24] mkeskells commented on #29
should be just snapping toString to a val

Need to see if this has an effect though - just from code inspection so far

[2017-11-13 08:29] jvican commented on #17
When disabled, stats collections is a no-op. This was done in the last implementation of SCP-010, and you can find the benchmarks in all the three PRs I opened.

[2017-11-15 16:38] MikeSkells commented on #10
https://github.com/scala/scala-dev/issues/416

[2017-11-18 02:24] cryptom-dev commented on #26
if no new joiner want practice with this issue, I'd like to take it:)

[2017-11-21 23:51] mkeskells opened #30 "rework PurRunLazy"
maybe something like
[code]
then usage is like
[code]

[2017-11-23 22:35] mkeskells opened #31 "Improve performance of Run.compiles(Symbol)"
we did some correctness work in https://github.com/scala/scala/pull/6181

I was surprised how often this gets called - 380,000 time in a compile of akka actor!
total duration almost 100ms, but that is about 0.5% - 1% of the total compile time, depending on the cost of the logging)

It gets called lots and lots of the calls are repeated
we have one package requested **276 consecutive times**, and a

[2017-11-27 11:03] RobinStephenson commented on #29
Please assign me

[2017-11-27 21:55] mkeskells opened #32 "package object math"
this contains scala aliases for java.lang.Math primitives

e.g.
[code]

there is special handling for min and max etc in the compiler

generate some benchmarks to see if @inline would improve the performance, and get this to go all the way back to the call sites via RichInt etc

[2017-11-28 22:09] mkeskells commented on #17
@jvican sorry for the delay in responding - can you share these benchmarks - I dont know your PRs for SCP-010. Didnt know this extra twist in JSR 292

[2017-11-29 09:26] jvican commented on #17
Sure thing! I thought you were in the loop:

1. https://github.com/scala/scala/pull/6034
2. https://github.com/scala/scala/pull/6051
3. https://github.com/scala/scala/pull/6067

[2017-11-30 21:11] RobinStephenson opened #33 "StringLike * could be improved by shortcutting on n=0 or 1"
If n=0 or 1 no need to create builders etc

[2017-11-30 21:12] RobinStephenson commented on #33
@rorygraves could you assign me this and #29 please :)

[2017-11-30 22:05] rorygraves commented on #33
@RobinStephenson This one is assigned - the other i can assign (or you can assign once you accept the invite you should have just received.

[2017-12-13 23:15] mkeskells commented on #31
note - the merged fix is functional. This is a non functional issue

[2017-12-14 23:13] mkeskells opened #35 "SymbolTable.isCompilerUniverse"
This looks to be a hot but simple method

investigate if there is much improvement in CPU usage by making this

a static constant would see the effect although the conversion to work in all cases would be harder

investigate first, and if this is worthwhile then optimise

[2017-12-14 23:24] mkeskells opened #36 "Symbol.getFlag(flag:Int)"
def hasFlag(mask: Int): Boolean = hasFlag(mask.toLong)

is this faster if we use the final long interface

[2018-01-12 14:09] pkukielka commented on #26
Hi, could you please assign me to this issue?

[2018-01-12 21:11] rorygraves commented on #5
@mkeskells  Do you have any specific examples?

[2018-01-20 15:59] ackratos opened #37 "scala.reflect.internal.Symbols.Symbol#ownerChain is called too many times when compile aka-actor"
we probably can make it a var and only update it when onwer changes, so that it won’t get re-computed every time.

In terms of performance test, I think this cannot be easily microbenchmarked but perf_tester (macro benchmark) would be a good choice.

[2018-01-20 16:27] mkeskells commented on #37
duplicate of https://github.com/rorygraves/scalac_perf/issues/3

[2018-01-21 10:47] rorygraves commented on #37
Closed as duplicate

[2018-01-22 11:11] ccjoywang commented on #36
Please assign this to me :)

[2018-01-23 22:09] rorygraves opened #38 "Reduce construction of ArrayOps.ofX"
We have lots of calls to

traced.csv:972349,scala.collection.mutable.ArrayOps$ofRef
and ArrayOps.ofChar

This allow for extension methods such as .length .isDefinedAt

Each usage could be removed, but it would be better if there was a rewrite rule or similar that turns.

foo.length  ( becomes ArrayOps.ofRef(foo).length
Into
ArrayOpsStatic.lengthOfRef(foo)
avoiding object creation
Where/how this mi

[2018-01-23 22:13] mkeskells commented on #38
972349 allocations?

[2018-01-23 22:14] rorygraves opened #39 "Investigate BatchSourceFile.calculateLineIndices calls"
In akka-actor BatchSourceFile.calculateLineIndices is called a suprising amount, generating a lot of garbage.
From method capture:
[code]

A quick investigation shows that it is being called from:
[code]

However whilst an error is generated it is swallowed and never reported (details unknown).  If it is not a user level error, we should not be generating the error messages, strings, line numbers

[2018-01-23 22:15] rorygraves commented on #38
I think thats calla - I see 5.6M calls to WrappedArray constructor:
5650115,scala.collection.mutable.WrappedArray$ofRef::<init>()V

[2018-01-23 22:16] rorygraves commented on #38
The numbers don't quite tie up for me mentally, but this is definitely a target.

[2018-01-23 22:16] mkeskells commented on #39
I meant to raise that one ....

code around there looks ripe for tuning

[2018-01-23 22:19] mkeskells commented on #38
empty ones are cached I think - although that may be lost in the reverted code

[2018-01-24 16:51] hrhino commented on #35
JITWatch tells me that it's not inlined at the C1 level. Modifying as follows makes it inlined and appears to cause the JVM to assume that it's `true` in a normal compiler run:

[code]

I doubt it can be made static since the same process can need both a reflective universe and a compiler global.

If it makes a very large difference we could have a static almost final value choosing between "curre

[2018-01-24 21:23] rorygraves commented on #35
@hrhino Thanks thats really interesting   - @mkeskells  You mentioned something else as well about a JSR?  I also can't remember when/where this was originally flagged.

[2018-01-24 21:34] mkeskells commented on #35
I thought that we may be able to use the JSR 292  trick with SwitchTable - like the Statistics uses

I would suggest that we benchmark a compile with
[code]
and hacks around the other code to make it compile

to see how much time is possible to save, and that can judge what is a good or bad fix

[2018-01-24 21:39] hrhino commented on #35
On Wed, Jan 24, 2018 at 4:34 PM, mkeskells <notifications@github.com> wrote:

That makes sense to me, I think. The JSR292 trick was what I
referenced with "almost final value" above, btw.

--harrison

[2018-01-25 00:24] mkeskells commented on #35
So I think we can do this
1. benchmark baseline
2. benchmark with final value hack

scope for improvement = 2-1

if the scope is big enough
(3) how much gain do we get from the val based solution,
if its not close to enough to (2) then try
(4) almost final solution

that said I can't take this one now, so its a 'royal we'

@hrhino do you want to own and progress this issue (@rorygraves will have t

[2018-01-25 00:35] hrhino commented on #35
On January 24, 2018 7:24:22 PM EST, mkeskells <notifications@github.com> wrote:

That makes sense. Profile driven optimization is the best optimization, obviously. I'll fiddle with benchmarks and post the results, and then we (royally) can decide if it's a big enough gain for the complexity that is JSR292.

@rorygraves you can assign this to me (please) or I'll just trust people to read the thread

[2018-01-25 13:55] mkeskells opened #40 "fix or understand class load heirarchy for SBT/scalac"
issues with loading the collections plugin

[2018-01-25 13:57] mkeskells opened #41 "integrate the collections usage calibration"

[2018-01-25 14:10] mkeskells opened #42 "special apply methods"
the compiler candles List.apply() specially (with 0 args)

consider and discuss with @retronym i fthis is valid for other cases

e.g list.apply with explicit args

Seq, Set, Map for 0 args

[2018-01-25 18:05] hrhino commented on #42
Note that `Array(x, y)` is already optimized to `{ val tmp = new Array(2); tmp(0) = x; tmp(1) = y; tmp }`

[2018-01-25 21:34] hrhino opened #43 "phase packageobjects does too much?"
[code]

[2018-01-26 13:21] hrhino commented on #43
after investigation, it doesn't, really.

[2018-01-26 13:21] #43 closed

[2018-01-30 00:45] mkeskells opened #44 ".distinct is inefficient"
similar to https://github.com/rorygraves/scalac_perf/issues/26 but specifically for distinct

stats (https://github.com/pkukielka/scala-collections-usage/blob/master/run2/traced.csv) show distinct is called many times on empty collections, and there are many optimisations that can be baked off against each other

[code]

[2018-01-30 01:15] mkeskells commented on #44
made a start in https://github.com/rorygraves/scalac_perf/tree/mike/2.12.x_distinct - just a few ideas

[2018-01-30 01:19] mkeskells opened #45 "object hash code"
is it faster to default the hash code or stamp it in?

lots of objects hashcode are frequent, e.g. Nil
[code]
small saving - but is an override faster that the default?

[2018-01-30 01:27] mkeskells opened #46 "direct var reference"
Nil has multiple levels of methods for var access

[code]

[2018-01-30 01:30] mkeskells opened #47 "mark things final if they known"
if the compiler knows that a field is final, mark it as such

java (i think) does this on defs in final classes

filed access can be inlined in final classes, and effectively final ones ( e.g. sealed and known)

[2018-02-01 07:38] rorygraves opened #48 "RSC Compile performance is 12.5% faster under 2.11 vs 2.12"
When running RSC with 2.12.4 vs 2.11.12 (i.e. RSC itself is compiled with 2.12 - I observe a 12.5% performance drop

The code is very vanilla - and whlist this is not directly 'compiler' related it is worth investigating and it might flag something interesting.

In RSC ```build.sbt```
Change:
```  scalaVersion := versions.scala211,``` to ```  scalaVersion := versions.scala212,```

In Sbt:
[code]

[2018-02-01 13:25] hrhino commented on #35
Hmm:

[code]

So either I'm benchmarking poorly or it's not actually an optimization. I'll poke around a bit more with JITwatch but I don't understand why quite yet.

[2018-02-06 08:37] retronym commented on #46
This is a bit of a corner case because of the accessor created for the non-public case class parameter.

[code]

Results in:

[code]

Which might help some unlucky code that got caught at the threshhold of `-XX:MaxInlineLevel`.

[2018-02-09 14:49] mkeskells opened #49 "Nil equals"
Have a look at the scala stats to see how often nil is lhs or rhs of equals. Some of those May be amenable to eq

[2018-02-09 14:57] mkeskells opened #50 "Elide some asserts"
Some asserts are for developers in scalac only

Elide or remove or use almost final values to avoid the costs

[2018-02-09 15:08] mkeskells commented on #50
First step would be record the costs

It's not just the cost of the call though as we will probably have data structures that are only created for the asserts

Some asserts are needed so this will involve much discussion with typesafe when we have the stats

[2018-02-13 21:55] mkeskells opened #51 "Erasing to object"
many of the collection method have a return type without bound, e.g. `Repr`

This means that the bytecode emitted is littered with class cast to the expected type

Not sure what the overhead is. We should measure and see what options there are to improve this

[2018-02-13 22:26] mkeskells commented on #51
e.g.
[code]
generates
[code]

[2018-02-14 11:48] mkeskells opened #52 "List should use eq Nil instead of isEmpty for end of list detection"
[code]
could be
[code]

[2018-02-14 11:49] mkeskells opened #53 "Nil.iterator"
its called quite a lot.
[code]
and it creates a new iterator - it should return EmptyIterator

[2018-02-14 11:55] mkeskells commented on #52
also MurmurHash3
[code]

[2018-02-14 11:57] mkeskells opened #54 ":: hashCode"
Investigate the high call count
[code]

[2018-02-14 12:01] mkeskells commented on #54
it doesnt seems that a list is somthing that should be hashcoded a lot

[2018-02-16 00:46] retronym commented on #38
This is a limitation of value classes: invocations of methods inherited from universal traits still incurs boxing.

[code]

It would be worth checking if you actually see `ArrayOps$ofRef` in the allocation stats recorded by flight recorder, as by instrumenting its constructor you will be disabling escape analysis. I'm not sure if that typically kicks in in this case or not.

[2018-02-16 00:55] retronym commented on #38
If you want to have a dense, mutable collection that you keep around, another option is to convert once to a `WrappedArray`, and perform operations on that, rather than always going through `ArrayOps`.

[2018-02-19 17:52] cbwl commented on #54
@rorygraves

[2018-02-21 13:27] romanowski opened #56 "Creating intermediate collections just to call `foreach` on them in the end (from bcode)"
Example that represent the problem:

`fieldSymbols` function from [here](https://github.com/scala/scala/blob/2.13.x/src/compiler/scala/tools/nsc/backend/jvm/BCodeHelpers.scala#L312) is producing List that is consumed [here](https://github.com/scala/scala/blob/2.13.x/src/compiler/scala/tools/nsc/backend/jvm/BCodeSkelBuilder.scala#L230) by only calling for each.

This particular example most likely

[2018-02-21 13:36] romanowski opened #57 "Benchmark functional/direct/dirty approach to State and blocked stuff"
By changing implementation of Block/Result classes/objects

[2018-02-23 14:24] lrytz commented on #24
https://github.com/scala/scala/pull/6093

[2018-02-26 11:32] rorygraves opened #58 "List filter/filterNot needs to be reapplied"
the List filter/filterNot changes got backed out here:

https://github.com/scala/scala/commit/76babbb6728e5daf4fb95444273f6f8e0a4098d7
because of an issue with Mima - they and their associated tests should be reapplied -
I think these will end up in strawman rather than base of 2.13

[2018-03-05 08:28] mkeskells commented on #38
Looks like 2.13 will avoid some/all of these conversions - need to verify though

[2018-03-05 08:30] mkeskells commented on #24
https://github.com/scala/scala/pull/6093 is merged - ned t confirm the 2.13 plan before we close this issue though. May consider opening a similar issue for f"", for some simple cases

[2018-03-10 12:04] cryptom-dev commented on #41
what does this issue mean? @mkeskells

[2018-03-10 13:16] mkeskells commented on #41
Integrate the work that we are open sourcing with the pref tester.

Probably broader to allow instrumentation in a few of the places

[2018-03-12 10:39] cryptom-dev commented on #25
I looked the implementation of LinkedHashSet, `createNewEntry` doesn't rely on the value:
[code]

So the maintained hashcode is still key's hashCode. The hotspot shown by jprofiler probably is because numeration operations (like bit shift) in scala cost too long?

[2018-03-12 15:34] ackratos commented on #47
no obvious benefit:
[code]

on benchmark:
[code]

above is optimized version, below is baseline:
[code]

[2018-03-12 15:34] cryptom-dev commented on #45
no obvious benefit:
[code]

on benchmark:
[code]

above is optimized version, below is baseline:
[code]

[2018-03-12 20:08] mkeskells commented on #20
[code]

generated bytecode (abbriviated) of

public final class scala/tools/nsc/classpath/Foo$ {

...
  private I data1
  private I data2
  private I data3

  private data2()I
    ...
  private data2_$eq(I)V
   ...
  public final data3()I
...
  public final data3_$eq(I)V
...
  public foo()V
   L0
    LINENUMBER 14 L0
    BIPUSH 7
   L1
    ISTORE 1
   L2
    LINENUMBER 15 L2
    **ILOAD 1
    ICON

[2018-03-12 21:57] mkeskells commented on #16
initial work in https://github.com/scala/scala/compare/2.12.x...rorygraves:mike/2.12.x_source-reader?expand=1 - shows slightly faster with NIO

I had a dig around SBT - after PRing a delete fix (https://github.com/sbt/io/pull/133) Jason found the read /scan operations

not sure what gradle & zinc uses to scan the directory, but it should use file walkers where possible rather than java IO. java IO

[2018-03-12 22:22] mkeskells commented on #32
I had a play with this a while ago - didnt check in the results, but could not get the same inlining to occur

[2018-03-13 00:06] mkeskells commented on #56
because of https://github.com/rorygraves/scalac_perf/issues/58 it probably creating 2 lists per cycle

[2018-03-13 00:16] mkeskells opened #59 "BatchSourceFile holds only its content longer than it is needed"
it hold it for the whole compile. It doesn't seem to be used after parsing, so releasing it may save some memory

[2018-03-13 00:27] mkeskells commented on #35
@hrhino did you get anywhere with this digging

[2018-03-13 00:33] hrhino commented on #35
@mkeskells to an extent, which is that I think it should be faster but I need a shinier benchmark box. either way possibly less than I had hoped. the JIT doesn't seem to be super eager to use the `final val`ity.

[2018-03-13 08:26] rorygraves commented on #42
Steps:
1. How often to these cases occur
2. What cases are worth optimising
3. Apply changes as appropriate.

[2018-03-13 21:55] mkeskells commented on #42
appropriate is based on safety, bytecode size and benchmarking

[2018-03-13 22:05] mkeskells commented on #35
@hrhino can you share your branch or show a WIP PR

[2018-03-14 00:14] mkeskells commented on #56
probably can get some info from the collections instrumentation - a :: accessed once only

[2018-03-14 00:39] retronym commented on #42
For reference, here's a [WIP compiler rewrite](https://github.com/retronym/scala/commit/cf8af0c429322bb7ea687a46c0fa1b47b794a29d
) that unrolls small `List(a, b, c .. )` into `a :: b :: .. :: Nil`

The resulting bytecode would be cleaner with runtime support, rewrite to `ScalaRuntime.list_apply_5(a, b, c, d, e)`, as suggested by this ticket.

Just adding in actual overloads of `List.apply` is a bi

[2018-03-14 00:41] retronym commented on #42
Also worth noting that not all of the innefficiency of `List.apply` at the moment comes from the packing the elements into varargs array. The generic result building code used internally will be replaced by a specialized version for `List` in 2.13.x.

[2018-03-14 01:14] mkeskells commented on #35
@hrhino can you repurpose a flag for that meaning
[code]
or some such

[2018-03-15 08:17] mkeskells commented on #42
So we look at this for the 2.13 branch primarily - labelled as such.

We also cant add to the List.apply because we have no way to disambiguate List.apply _
I had a email chain from a few years ago, predating the List() rewrite I think

[2018-03-15 08:47] mkeskells commented on #42
Hi @retronym Just noticed the date of the 'WIP compiler rewrite' Nov 3 2013 - is that when we had the List() discussion?

How many other nuggets of stalled work do you have hidden away needing some affection from us
:scream:

[2018-03-19 23:42] mkeskells opened #60 "compile time constants"
It seems that some constants are deferred to run time.
This means that they generate more bytecode, and cant (probably) be inlined

e.g. Flags.scala has code like
[code]
generate bytecode like
[code]
but not for all fields
e.g
[code]

[2018-03-20 01:37] retronym commented on #60
`(PRIVATE: Long) << AntiShift` is not a constant expression, so it fall through the [constant folder](https://github.com/scala/scala/blob/2e0c0972f9a26ee5e79f348d7a031718354e417f/src/compiler/scala/tools/nsc/typechecker/ConstantFolder.scala#L48-L64).

We could update that to make a widening of a constant also be a constant. In addition to changing that code, this [part of the spec](https://github.

[2018-03-20 02:12] retronym commented on #60
Or, without changing the spec, we could just use `0L + PRIVATE` instead of `(PRIVATE: Long)`.

[code]

[2018-03-20 02:20] retronym commented on #60
https://github.com/scala/scala/pull/6445

[2018-03-20 07:54] mkeskells commented on #36
https://github.com/scala/scala/pull/6376

[2018-03-20 08:37] mkeskells commented on #60
I think that it is worth considering changing the spec, as that will be beneficial to other cases outside the Flags.

It seem strange that implicit widening is optimised, but explicit is not. Presumably narrowing isn't either

This will have an impact on performance I think as these constants get inlined to the caller
@retronym @adriaanm do you have any concerns about widened the spec (in 2.13)

[2018-03-23 07:31] mkeskells commented on #60
discussed with @retronym on gitter -
~Long is not folding as expected

[2018-03-23 07:33] retronym commented on #60
WIP https://github.com/scala/scala/compare/2.13.x...retronym:topic/constant-folder-unary?expand=1

There is overlap with https://github.com/scala/scala/pull/6452, which also needs to introduce some constant-related logic in `typedSelect`. We're discussing it all over there.

[2018-03-27 09:46] cryptom-dev commented on #58
https://github.com/scala/scala/pull/6386 merged

[2018-03-27 09:47] #58 closed

[2018-03-28 23:36] mkeskells opened #61 "Scope filtering"
[code]
may iterate the list twice, and perform functions of known results (those previously examined)

note - toList is already cached

[2018-03-30 23:41] cryptom-dev commented on #61
do you mean we should:
[code]

If this looks good, I'd like take this one to play with latest perf_tester.

[2018-04-01 10:07] mkeskells commented on #44
@pkukielka can update this issue
reference the PRs and update the milestones
Is this merged yet? to 2.13

[2018-04-01 10:11] mkeskells commented on #33
@RobinStephenson can you update the status, labels and milestones, and refer to any PRs

[2018-04-01 10:48] mkeskells commented on #13
https://github.com/scala/scala/pull/6124 is merged so closing this as complete

[2018-04-11 22:36] mkeskells commented on #32
run some benchmarks
[code]
the point of comparison is that scala object access slows the object access.

[code]
could be rearranged to be more like
[code]

demo and benchmark code
in java
[code]
and scala
[code]
newMath is just a local copy of the math package object (for sanity)

newMath2 and newMath3 are java approximations of the existing and improved module code
[code]

[2018-04-14 11:43] retronym commented on #32
As discussed, here's a patch to make the field final where it is safe to do so.

https://github.com/scala/scala/pull/6523

[code]

[2018-04-24 07:25] mkeskells opened #62 "-Yrangepos - allocation hotspot"
This is not expected to be used in production environments, so is not optimised

e.g. Lots of temporary list creation

[2018-04-24 07:28] mkeskells opened #63 "-Yrangepos - parallelize"
rangepos is read only, and doesn't cause typing - its a check of the relative positions in the tree

it seems to be a good candidate to be moved into a separate phase and muli-threaded on a compilation unit by compilation unit basis

[2018-04-24 07:29] mkeskells commented on #63
probably do this before https://github.com/rorygraves/scalac_perf/issues/62

[2018-04-24 07:29] mkeskells commented on #62
probably after https://github.com/rorygraves/scalac_perf/issues/63

[2018-05-01 22:18] mkeskells opened #64 "move validation of typer to separate phase"
move the non typechecking things after typer

e.g. rangepos validation
lint
etc

opportunities for parallelization

[2018-05-01 22:19] mkeskells commented on #64
https://github.com/scala/scala/pull/6583

[2018-05-05 16:12] cryptom-dev commented on #38
Verified, this has been avoided in 2.13:

For same piece of code:
[code]

In scala 2.12:
The call to foos.slice would involve constructor of `ofRef` class:
[code]

But in 2.13:
[code]

We can see that in 2.13 ArrayOps$.slice$extension is invoked directly without construction of an ArrayOps class. This is exact semantic (benefit) of value class.

@mkeskells I think we can close this issue:)

[2018-05-07 09:38] mkeskells commented on #38
agreed

[2018-05-07 09:38] #38 closed

[2018-05-21 21:23] RobinStephenson commented on #29
Strawman improvements made this reduntant, but created a PR with the benchmarks here https://github.com/scala/scala/pull/6666

[2018-05-22 06:28] #13 closed

[2018-05-22 06:45] mkeskells commented on #24
@retronym - has the macro version of this been merged into 2.13.x?

[2018-05-22 07:16] mkeskells opened #67 "performance improvements to Flag access"
we can elide some work when getting flags

[2018-05-22 07:16] mkeskells commented on #67
https://github.com/scala/scala/pull/6455

[2018-05-22 07:17] #67 closed

[2018-05-22 12:32] mkeskells commented on #36
I should not have closed this

[2018-05-22 12:33] mkeskells commented on #36
https://github.com/scala/scala/pull/6567 replaced https://github.com/scala/scala/pull/6376

[2018-05-22 23:40] retronym commented on #24
Nope. It is tracked as https://github.com/scala/scala-dev/issues/475.

[2018-05-30 05:57] mkeskells commented on #62
simple changes to checking in https://github.com/scala/scala/pull/6696

[2018-06-05 22:40] mkeskells commented on #62
https://github.com/scala/scala/pull/6696

[2018-06-15 17:22] feyman2016 commented on #52
@mkeskells  I wrote a micro benchmark to compare the performance of **list eq Nil** and **list.isEmpty** , [PR](https://github.com/scala/scala/pull/6808/files) here , and the benchmark results is just as follows:
There seems no obvious difference between their performance, I will further investigate their bytecode to understand the mechanism underneath. 😄

[code]

[2018-06-17 12:03] rorygraves commented on #52
@feyman2016  I agree - this is suprising - I would be very interested into finding out what the bytecode looks like.

[2018-06-19 14:33] feyman2016 commented on #52
@rorygraves  @mkeskells
I investigated the `scala.util.hashing.MurmurHash3#listHash` as follows:

[code]
If we use `while (!elems.isEmpty) {` , we wil get the bytecode like:
[code]

or if we use `while (elems ne Nil) { `, we will get :
[code]
These bytecode of both are just like what I thought they would be, which makes benchmark results even more difficult to explain.

[2018-06-19 15:48] mkeskells commented on #52
Is it that the jit cannot determine that Nil is a constant

Can you try with a java class
[code]

[2018-06-19 21:18] mkeskells commented on #52
What you can't see from the bytecode is what the jit does with this and the information that it deduces.
If the jit knows it's a constant then it may get inlined. If the git cant do that then it's a static field access
To complicate further java 9 seems to do a better job at this sometimes and particularly for invokedynamic stuff (which we don't have here I think)

[2018-06-19 21:19] mkeskells commented on #52
That's why I suggest comparing to idiomatic java code

[2018-06-21 06:58] mkeskells opened #75 "Vector.equals uses iterators. Could be optimised"
If a Vector is compared to another Vector (or some other collection that efficiently implements length and apply) then we should prefer that mechanism, with a default/fallback to the existing iterator mechanism

This issue was inspired by an observed issue in a production application

We should include a benchmark in any fix

[2018-06-26 05:41] feyman2016 commented on #52
I tried to find some clue from the machine code of `scala.collection.immutable.List.length`, results as below(**line 339 is where we use eq Nil or isEmpty**):

Eq Nil (bench = 100000)
[code]

.isEmpty  (bench = 100000)
[code]
Is it because .isEmpty is override in both `Nil` and `::` , so calling `.isEmpty` would be simply equal to comparison the list to Nil , instead of call `.isEmpty` in the supe

[2018-06-26 07:18] mkeskells commented on #52
I would look at a little benchmark - 3 method that does

1. isEmpty
1. eq Nil
1. java based == a java final static field containing Nil
1. maybe try isInstanceOf[Nil]
1. .getClass eq classOf[Nil]
1. anything else that you thin may be faster

test for performance, and look at the code generated. We are looking for the fastest!

[2018-07-05 18:03] szeiger commented on #52
I wonder why the `MODULE$` fields aren't `static final` in the first place. Shouldn't it be OK to make it final when it's initialized in a static initializer?

[2018-07-05 22:07] mkeskells commented on #52
@szeiger https://github.com/rorygraves/scalac_perf/issues/19 relates - @retronym did some cases in https://github.com/scala/scala/pull/6523, but I don't think that can be applied to deeper hierarchies without more work. There is some discussion in that ticket

The problem is that a parent ctor can refer to the `MODULE$` directly or indirectly, and it cant be `null`, or we would endlessly recurse

[2018-09-06 10:44] aebrett opened #82 "SeqLike.sortBy(f) evaluates f O(n log n) times"

[2018-09-10 07:26] mkeskells commented on #82
this looks to me to be more a java fix as the sorting is delegated to TimSort

[2018-09-11 21:58] mkeskells commented on #8
https://github.com/scala/scala/pull/7192 addresses this for the new maps in 2.13

[2018-09-11 22:32] mkeskells commented on #62
in summary of the result when using -Yrangepos this provides a 10% reduction in CPU load and 23% reduction in allocation

[2018-09-11 22:32] #62 closed

[2018-11-01 18:37] hrhino opened #85 ""exhaustive" pattern match can't elide allocation of scrutinee"
[code]

[code]

note that the tuple (local 4) is only used at instruction 60, to produce a `MatchError` which can only be hit when `a` is `null`. we should float the tuple construction into the failure case.

[2018-11-01 20:43] hrhino commented on #85
also, we shouldn't need to null-check the scrutinee, seeing as we just made it. this turns into a question of nullness-tracking, though.

[2019-06-06 17:20] hrhino commented on #54
@mkeskells it's b/c lists are in types, which are used as hash keys
[code]

[2019-06-06 17:24] hrhino commented on #54
a lot of those are because of `computeBaseTypeSeqOfCompoundType` using a `Map[List[Type], WeakReference[Type]]`

[2019-08-14 11:14] hrhino opened #86 "Macros#calculateUndetparams is a no-op if there are no undetparams"
https://github.com/scala/scala/blob/546a57105e33678d9d0aba9da486006e4715924c/src/compiler/scala/tools/nsc/typechecker/Macros.scala#L848-859

[code]

[2019-08-14 11:16] hrhino opened #87 "Inline `ClassTag#unapply`"
Avoid allocating `Some`s; just emit `if (tag.runtimeClass.isInstance(scrutinee)) ...`

[2019-08-14 11:22] hrhino opened #88 "Investigate and fix that patmat surprise ref thing"
Minimization to come.

[2019-08-27 06:00] retronym commented on #88
Hopefully fixed by https://github.com/scala/scala/pull/8375

[2020-04-15 00:05] #88 closed

[2020-04-15 00:07] hrhino commented on #87
Would be nice if `unapply` there were final.